{% extends "base.html" %}

{% block title %}
    List of Accounts
{% endblock title %}
{% block content %}
    <main>
        <h1>My Accounts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Numbers</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% if user.is_authenticated %}
                    {% for account in accounts %}
                        <tr>
                            <td>{{ account.name }}</td>
                            <td>{{ account.number }}</td>
                            <td>{{ account.receipts.all|length }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </main>
{% endblock content %}
