{% extends "base.html" %}

{% block title %}
    List of Categories
{% endblock title %}
{% block content %}
    <main>
        <h1>My Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% if user.is_authenticated %}
                        {% for category in categories %}
                            <tr>
                                <td>{{ category.name }}</td>
                                <td>{{ category.receipts.all|length }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </main>
    {% endblock content %}
